<h1>Quản lý giáo viên</h1>


<a asp-action="addNewTeacher" asp-controller="manageTeacher">Thêm giáo viên mới</a><br />


<a asp-controller="manageTeacher" asp-action="turnToSelectForm">Chỉ định môn giảng dạy cho giáo viên</a>